/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Syncopate', sans-serif;*/
/*font-family: 'Aclonica', sans-serif;*/
/*font-family: 'Lilita One', cursive;*/
/*font-family: 'Alegreya SC', serif;*/
/*font-family: 'Monofett', cursive;*/
/*font-family: 'Chango', cursive;*/
/*font-family: 'Sigmar One', cursive;*/



#jumbotron1{
    height:calc(99vh - 50);
    margin-top: -20px;
    background-image: url("images/nebula-background.png");
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

#spaceman-img{
    animation-duration: 5s;
    animation-name: slidein;
}

#jumbotron1-h1{
    color:#ffffff;
    font-family: 'Press Start 2P';
}

@keyframes slidein {
    0% {
        margin-top: 100%;
    }

    50% {
        margin-top: 0%;
    }
    100%{
        transform: rotate(360deg);
    }
}



#jumbotron2{
    margin-top: -30px;
    width:100vw;
    overflow: hidden;
    text-align: center;
}
#jumbotron2 >h2,h3{
    font-family: 'Alegreya SC';
}
.media-body-jumbotron >p{
    font-family: 'Teko';
}
.media-body-jumbotron{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

}
.engage-img{
    height:75vh;
    width:90vw;
}
#resize-caro{}
.home-slider-img{
    width:95vw;
    margin-right: -50px;
}
.media-body-jumbotron > p,img{
    margin: 2em;
}
.home-carousel{
    text-align: center;
    margin-top: -30px;
}
@media screen and (max-width: 750px) {
    .media-body-jumbotron{
        flex-direction:column;
    }
    media-body-jumbotron > p{
        margin: 2em;
    }
    .media-body-jumbotron > img{
        height:350px;
        width:85vw;
    }
    .engage-img{
        height:75vh;
        width:100vw;
    }

}
