#navbar{
    background:#ffffff;
}


.header-nav-item:hover{
    color:#784965;
    background-color:#784965;
}

.header-nav-link{
    color:#D0D0D0;
    text-decoration: none;
}
.header-nav-link:hover{
    background-color:#784965;
    color:#D0D0D0;
    text-decoration: none;
}
.header-nav-link:active{
    color:#D0D0D0;
}

.header-brand-link{
    color: #784965;
}


#nav-brand-p:hover{
    color: #784965;
}
