/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Syncopate', sans-serif;*/
/*font-family: 'Aclonica', sans-serif;*/
/*font-family: 'Lilita One', cursive;*/
/*font-family: 'Alegreya SC', serif;*/
/*font-family: 'Monofett', cursive;*/
/*font-family: 'Chango', cursive;*/
/*font-family: 'Sigmar One', cursive;*/

#project-section{
    height:75vh;
}
/*#labs-wrapper{*/
    /*margin-bottom: 30vh;*/
/*}*/
#project-section{
    text-align: center;
}
#labs-header{
    font-size: 3.5em;
}
#projects-jumbotron{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section>h3,h2{
    font-family: 'Alegreya SC';
}
.text-font{
    font-size: 1.5em;
    margin:0 1.5em;
    font-family: 'Teko';
}
@media(max-width: 767px){
    #labs-wrapper{
        margin-bottom: 65vh;
    }
}
