/*font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Syncopate', sans-serif;*/
/*font-family: 'Aclonica', sans-serif;*/
/*font-family: 'Lilita One', cursive;*/
/*font-family: 'Alegreya SC', serif;*/
/*font-family: 'Monofett', cursive;*/
/*font-family: 'Chango', cursive;*/
/*font-family: 'Sigmar One', cursive;*/

#project-section{
    height:75vh;
}
/*#labs-wrapper{*/
    /*margin-bottom: 30vh;*/
/*}*/
#project-section{
    text-align: center;
}
#labs-header{
    color:#D0D0D0;
    font-size: 3.5em;
}
.text-font-header{
    color:#D0D0D0;
    font-size: 1.5em;
    margin:0 1.5em;
    font-family: 'Teko';
}
#projects-jumbotron{
    margin-top: -20px;
    height: 75vh;
    background: url("./images/nebula-background.png");
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section>h3,h2{
    font-family: 'Alegreya SC';
}


.text-font-pills>a{
    font-size: 1.5em;
    margin:0 1.5em;
    font-family: 'Teko';
    color: #784965;
    background-color: black;
}
.video-style{
    height:50vh;
    width: 50vw;
}
.row,clearfix{
    max-width:100vw;
}
#labs-wrapper{
    max-width:100vw;
    overflow-x: hidden visible;
}
.text-font{
    font-size: 1.5em;
    margin:0 1.5em;
    font-family: 'Teko';
}
@media(max-width: 767px){
    #labs-wrapper{
        margin-bottom: 100vh;
    }
    .video-style{
        height:75vh;
        width: 75vw;
    }

    .row,clearfix{
        padding-left: 10%;
    }
    @media(max-width: 463px){
        #labs-wrapper{
            margin-bottom: 130vh;
        }
    }
}
